In [1]:
import numpy as np
import pandas as pd

In [70]:
df_man = pd.read_csv('/Users/aidasaglinskas/Downloads/sfari_manufacturers (1).csv')
df_sfari = pd.read_csv('/Users/aidasaglinskas/Desktop/BC-ASD-FC/Excel/DS-use.csv')

In [71]:
print(len(df_man))
print(len(df_sfari))

233
136

In [72]:
df_man['svip ID'] = [df_man['ID'].values[j].split('_')[0] for j in range(len(df_man))]

In [73]:
df_man.head()

   Unnamed: 0                  ID Sex             Manufacturer    svip ID
0           0   14701.x7_30_SCAP1   M                  SIEMENS   14701.x7
1           1   14702.x3_20_SCAP1   M  Philips Medical Systems   14702.x3
2           2   14703.x3_30_SCAP1   F                  SIEMENS   14703.x3
3           3  14705.x14_40_SCAP1   F  Philips Medical Systems  14705.x14
4           4  14705.x16_40_SCAP1   F  Philips Medical Systems  14705.x16

In [74]:
df_sfari.head()

,BIDS ID,SVIP ID,FCAP1,SCAP1,SCAP2,family_type,genetic_status_16p,svip_diagnosis_m1,ados_css,ados_module,...,relationship_to_iip,rrb_css,sa_css,sex,svip_neuro_exam.background.head_circum,svip_neuro_exam.background.head_circum_perc,svip_neuro_exam.background.head_circum_z_score,svip_neuro_exam.measure.eval_age_months,svip_neuro_exam.measure.measure_type,age_years
0,sub-004,14705.x14,14705.x14_50_FCAP1,14705.x14_40_SCAP1,[],16p-duplication,duplication,no-diagnosis,2,ados-4,...,Mother,1,2,female,[],[],[],405,svip-neuro-exam,34
1,sub-008,14708.x10,14708.x10_60_FCAP1,14708.x10_40_SCAP1,[],16p-deletion,deletion,non-spectrum-dx,2,ados-3,...,Initially identified proband,1,3,female,54.8,[],2.08,113,svip-neuro-exam,9
2,sub-012,14713.x7,14713.x7_50_FCAP1,14713.x7_30_SCAP1,[],16p-deletion,deletion,non-spectrum-dx,6,ados-3,...,Initially identified proband,5,7,male,55.2,[],2.28,87,svip-neuro-exam,7
3,sub-014,14714.x18,14714.x18_60_FCAP1,14714.x18_40_SCAP1,[],16p-deletion,deletion,no-diagnosis,2,ados-4,...,Initially identified proband,6,2,male,55.8,[],0.49,249,svip-neuro-exam,21
4,sub-018,14718.x5,14718.x5_50_FCAP1,14718.x5_20_SCAP1,[],16p-deletion,deletion,non-spectrum-dx,1,ados-3,...,Initially identified proband,1,1,female,54,[],1.15,127,svip-neuro-exam,11

In [75]:
df_good = pd.DataFrame()
df_good['bids id'] = df_sfari['BIDS ID']
df_good['svip id'] = df_sfari['SVIP ID']
df_good['man'] = 'a'
df_good.head()

   bids id    svip id man
0  sub-004  14705.x14   a
1  sub-008  14708.x10   a
2  sub-012   14713.x7   a
3  sub-014  14714.x18   a
4  sub-018   14718.x5   a

In [76]:
#df_sfari, df_man, df_good
n = len(df_sfari)
s = 0

In [77]:
for s in range(n):
    try: 
        idx = np.argwhere(np.array(df_good['svip id'].values[s])==np.array(df_man['svip ID'].values))[0][0]
        df_good['man'].values[s] = df_man.iloc[idx].Manufacturer

    except:
        df_good['man'].values[s] = 'unknown'

In [78]:
df_good.groupby('man').count()

                         bids id  svip id
man
Philips Medical Systems       41       41
SIEMENS                       19       19
unknown                       76       76